
:root {
    --letterkleur: #000; /* Letterkleur */
    --h2kleur: #efbebe; /* Kleur voor borders om h2 */
    --mainachtergrondkleur: #f6f6f6; /* Achtergrondkleur */
    --tweedeachtergrondkleur: #fed6d6; /* Tweede achtergrondkleur */
    --wit: #fff; /* Witte kleur */
    --grijs: #6e6d6d;
    --zwart: #000; /* Zwart als tekstkleur */
    --headingeten: #FBE59A;
    --achtergrondeten: #FEF8E1;
    --paars: #E4CCE4;
    --donkerpaars: #F8EAF8;
    --roze: #FEF2F2;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --letterkleur: #fff; /* Lichtere letterkleur */
        --h2kleur: #4a4a4a; /* Donkerdere kleur voor borders om h2 */
        --mainachtergrondkleur: #121212; /* Donkere achtergrondkleur */
        --tweedeachtergrondkleur: #333; /* Donkerdere tweede achtergrondkleur */
        --wit: #1e1e1e; /* Donker wit voor donkere modus */
        --grijs: #aaaaaa;
        --zwart: #fff; /* Lichtere tekstkleur */
        --headingeten: #c1a91f;
        --achtergrondeten: #3e3e1a;
        --paars: #5e3b5e;
        --donkerpaars: #442944;
        --roze: #402020;
    }
}


/* Basis styling voor de eerste section */
section:nth-of-type(1) {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

section:nth-of-type(1) img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

section:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

section:nth-of-type(1):hover::before {
    opacity: 1;
}

section:nth-of-type(1) a {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    z-index: 2;
}

/* Stel de sectie in om de afbeelding en tekst te bevatten */
section:nth-of-type(1) {
    position: relative; /* Maakt de sectie referentie voor absolute positionering */
    width: 100%;
    box-sizing: border-box;
}

/* Afbeelding styling */
section:nth-of-type(1) img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
    margin-bottom: 1em;
}

/* Plaats de tekst boven de afbeelding */
section:nth-of-type(1) h3, 
section:nth-of-type(1) p {
    position: absolute;
    left: 20px; /* Houdt de tekst uitgelijnd aan de linkerkant */
    color: var(--zwart);
    z-index: 2; /* Zorgt dat de tekst boven de afbeelding komt */
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

/* Positioneer h3 vlak boven de p */
section:nth-of-type(1) h3 {
    bottom: 60px; /* Houdt de h3 vlak boven de p */
    font-size: 1em; /* Grote tekst op grote schermen */
    margin-bottom: 2em;
}

section:nth-of-type(1) p {
    bottom: 20px; /* Plaats de p vlak boven de onderkant van de afbeelding */
    width: calc(100% - 40px); /* Zorgt dat de tekst wat padding heeft aan de zijkanten */
    font-size: 1.5em;
    text-align: left;
    border-radius: 5px;
    color: #fff;
}

/* Media query voor middelgrote schermen */
@media (max-width: 800px) {
    section:nth-of-type(1) h3 {
        font-size: 1em; /* Iets kleinere tekst op middelgrote schermen */
        bottom: 50px;
    }

    section:nth-of-type(1) p {
        font-size: 1.5em;
        bottom: 20px;
    }
}

/* Media query voor kleine schermen */
@media (max-width: 500px) {
    section:nth-of-type(1) h3 {
        font-size: 1em; /* Kleinere tekst op kleine schermen */
        bottom: 40px;
    }

    section:nth-of-type(1) p {
        font-size: 1em; /* Kleinere tekst voor p op kleine schermen */
        padding: 15px;
        bottom: 10px;
    }
}



/* Flexbox instellingen voor de artikelen in een container */
section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    section {
        flex-direction: row;
    }
}

/* Stijl voor de overige secties */


/* Knoppen stijl */
button {
    border: 1px solid var(--letterkleur);
    background-color: transparent;
    color: var(--letterkleur);
    font: inherit;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 2em auto;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 550;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}


button:hover {
    background-color: var(--h2kleur);
    border: none;
}

/* h2 en h3 styling */
h2, h3 {
    background-color: var(--tweedeachtergrondkleur);
    color: var(--letterkleur);
    padding: 0.1em 0.2em; /* Minimale padding zodat de border strakker om de tekst zit */
    display: inline-block; /* Zorgt ervoor dat de breedte alleen de tekst omvat */
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em; /* Ruimte tussen letters blijft hetzelfde */
    text-transform: uppercase;
    box-sizing: border-box; /* Zorgt ervoor dat de border om de tekst heen zit zonder extra ruimte */
    margin: 0; /* Verwijdert eventuele extra marges */
    width: fit-content;
}



section:nth-of-type(2) {
    background-color: var(--roze);
}
section:nth-of-type(4) {
    background-color: var(--donkerpaars);
}

section:nth-of-type(6) {
    background-color: var(--achtergrondeten);
}

/* Grid styling voor afbeeldingen en tekst */
section:nth-of-type(2) a,
section:nth-of-type(3) a,
section:nth-of-type(4) a,
section:nth-of-type(5) a,
section:nth-of-type(6) a,
section:nth-of-type(7) a {
    display: grid;
    grid-template-columns: 6em 1fr;
    grid-template-rows: max-content 1fr;
    gap: 0 1em;
    padding: 1em;
}

section:nth-of-type(2) a h3,
section:nth-of-type(3) a h3,
section:nth-of-type(4) a h3,
section:nth-of-type(5) a h3,
section:nth-of-type(6) a h3,
section:nth-of-type(7) a h3 {
    background-color: var(--tweedeachtergrondkleur);
    color: var(--letterkleur);
    padding: 4px 8px ;
    font-size: 1em;
    
    
}

section:nth-of-type(2) a img,
section:nth-of-type(3) a img,
section:nth-of-type(4) a img,
section:nth-of-type(5) a img,
section:nth-of-type(6) a img,
section:nth-of-type(7) a img {
    width: 100%;
    height: auto;
    display: block;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Algemene stijl voor tekst */
p {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
}

a {
    text-decoration: none;
    color: var(--zwart);
}

h2{ margin-top: 3em;
    margin-left: 35%;
    
}

section:nth-of-type(4) h2 {
background-color: var(--paars);
}

section:nth-of-type(6) h2 {
    background-color: var(--headingeten);

}

image :hover {
    color:hotpink;
}