:root {
    --letterkleur: #000; /* Letterkleur */
    --h2kleur: #efbebe; /* Kleur voor borders om h2 */
    --mainachtergrondkleur: #f6f6f6; /* Achtergrondkleur */
    --tweedeachtergrondkleur: #fed6d6; /* Tweede achtergrondkleur */
    --wit: #fff; /* Witte kleur */
    --grijs: #6e6d6d; /* Grijze kleur */
    --zwart: #000; /* Zwart als tekstkleur */
    --headingeten: #FBE59A; /* Kleur voor headings eten */
    --achtergrondeten: #FEF8E1; /* Achtergrondkleur eten */
    --paars: #E4CCE4; /* Paarse kleur */
    --donkerpaars: #F8EAF8; /* Donkerpaarse kleur */
    --roze: #FEF2F2; /* Roze kleur */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --letterkleur: #fff; /* Lichtere letterkleur */
        --h2kleur: #4a4a4a; /* Donkerdere kleur voor borders om h2 */
        --mainachtergrondkleur: #121212; /* Donkere achtergrondkleur */
        --tweedeachtergrondkleur: #333; /* Donkerdere tweede achtergrondkleur */
        --wit: #1e1e1e; /* Donker wit voor donkere modus */
        --grijs: #aaaaaa; /* Donkere grijs */
        --zwart: #fff; /* Lichtere tekstkleur */
        --headingeten: #c1a91f; /* Kleur voor headings eten in dark mode */
        --achtergrondeten: #3e3e1a; /* Achtergrondkleur eten in dark mode */
        --paars: #5e3b5e; /* Paarse kleur in dark mode */
        --donkerpaars: #442944; /* Donkerpaarse kleur in dark mode */
        --roze: #402020; /* Roze kleur in dark mode */
    }
}

@font-face {
    font-family: rechts;
    src: url(../fonts/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format("woff2");
}

/* Basis styling voor de eerste section */
section:nth-of-type(1) {
    position: relative;
    margin: 0.625em; /* 10px */
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

section:nth-of-type(1) img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
    margin-bottom: 1em; /* 16px */
}

/* Plaats de tekst boven de afbeelding */
section:nth-of-type(1) h3, 
main section:nth-of-type(1) p {
    position: absolute;
    left: 1.25em; /* 20px */
    color: var(--wit);
    z-index: 2; /* Zorgt dat de tekst boven de afbeelding komt */
    margin: 0;
    padding: 0.625em; /* 10px */
    box-sizing: border-box;
    font-size: 1em;
}

/* Positioneer h3 vlak boven de p */
section:nth-of-type(1) h3 {
    bottom: 3.75em; /* 60px */
    font-size: 1em; /* Grote tekst op grote schermen */
    margin-bottom: 1.25em; /* 20px */
    color: var(--zwart);
}

main section:nth-of-type(1) p {
    bottom: 1.25em; /* 20px */
    font-size: 1em;
    text-align: left;
    border-radius: 0.3125em; /* 5px */
}

/* Knoppen stijl */
button {
    border: 0.0625em solid var(--letterkleur); /* 1px */
    background-color: transparent;
    color: var(--letterkleur);
    font: inherit;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.625em 1.25em; /* 10px 20px */
    margin: 1.25em auto; /* 20px */
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 550;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1875em; /* 3px */
}

button:hover {
    background-color: var(--h2kleur);
    border: none;
}

/* h2 en h3 styling */
h2, h3 {
    background-color: var(--tweedeachtergrondkleur);
    color: var(--letterkleur);
    padding: 0.0625em 0.125em; /* 1px 2px */
    display: inline-block; /* Zorgt ervoor dat de breedte alleen de tekst omvat */
    text-align: center;
    font-size: 1em;
    font-family: rechts;
    font-weight: 550;
    letter-spacing: 0.0625em; /* 1px */
    text-transform: uppercase;
    box-sizing: border-box; /* Zorgt ervoor dat de border om de tekst heen zit zonder extra ruimte */
    margin: 0; /* Verwijdert eventuele extra marges */
    width: fit-content;
}

section:nth-of-type(2) {
    background-color: var(--roze);
}

section:nth-of-type(4) {
    background-color: var(--donkerpaars);
}

section:nth-of-type(6) {
    background-color: var(--achtergrondeten);
}

/* Grid styling voor afbeeldingen en tekst */
section:nth-of-type(2) a,
section:nth-of-type(3) a,
section:nth-of-type(4) a,
section:nth-of-type(5) a,
section:nth-of-type(6) a,
section:nth-of-type(7) a {
    display: grid;
    grid-template-columns: 6em 1fr; /* 96px 1fr */
    grid-template-rows: max-content 1fr;
    gap: 0 1em; /* 0 16px */
    padding: 1em; /* 16px */
}

section:nth-of-type(2) a h3,
section:nth-of-type(3) a h3,
section:nth-of-type(4) a h3,
section:nth-of-type(5) a h3,
section:nth-of-type(6) a h3,
section:nth-of-type(7) a h3 {
    background-color: var(--tweedeachtergrondkleur);
    color: var(--letterkleur);
    padding: 0.25em 0.5em; /* 4px 8px */
    font-size: 1em;
}

section:nth-of-type(2) a img,
section:nth-of-type(3) a img,
section:nth-of-type(4) a img,
section:nth-of-type(5) a img,
section:nth-of-type(6) a img,
section:nth-of-type(7) a img {
    width: 100%;
    height: auto;
    display: block;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Algemene stijl voor tekst */
p {
    text-decoration: none;
    font-size: 1.2em; /* 16px */
    font-family: sans;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--zwart);
}

h2 {
    margin-top: 1.875em; /* 30px */
    margin-left: 2.1875em; /* 35px */
}

section:nth-of-type(4) h2 {
    background-color: var(--paars);
}

section:nth-of-type(6) h2 {
    background-color: var(--headingeten);
}

/* Hover effect voor afbeeldingen */
img:hover {
    opacity: 0.8; /* Pas de mate van doorzichtigheid aan (0.5 is 50% doorzichtig) */
    transition: opacity 0.3s ease; /* Voegt een vloeiende overgang toe */
}

/* Voor middelgrote schermen */
@media (min-width: 770px) { 
    section:first-of-type ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        margin: 4em;
        list-style: none;
    }
    /* Selecteer alleen de eerste afbeelding binnen de eerste sectie */
    section:nth-of-type(1) li:first-of-type {
        grid-column: 1 / 3;
    }
    section:nth-of-type(2) ul,
    section:nth-of-type(3) ul,
    section:nth-of-type(5) ul,
    section:nth-of-type(7) ul {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;
        list-style: none;
    }
    section:nth-of-type(2) a,
    section:nth-of-type(3) a,
    section:nth-of-type(5) a,
    section:nth-of-type(7) a {
        display: grid;
        grid-template-columns: 1fr;
    }

    section:nth-of-type(4) li:first-of-type article a,
    section:nth-of-type(6) li:first-of-type article a{
        display: grid;
        grid-template-columns: 1fr;

    }
    

    
    

}

@media (min-width: 1000px) { 
    section:first-of-type ul {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 0.625em; /* 10px */
        padding: 0.3125em; /* 5px */
        list-style: none;
    }
    /* Selecteer alleen de eerste afbeelding binnen de eerste sectie */
    section:nth-of-type(1) li:first-of-type {
        grid-column: 1; /* Plaats de grote foto in de eerste kolom */
        grid-row: 1 / span 2;
    }
    section:nth-of-type(2) ul,
    section:nth-of-type(3) ul,
    section:nth-of-type(5) ul,
    section:nth-of-type(7) ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: auto auto;
        list-style: none;
    }
}
