:root {
    --letterkleur: #000; /* Letterkleur */
    --h2kleur: #efbebe; /* Kleur voor borders om h2 */
    --mainachtergrondkleur: #f6f6f6; /* Achtergrondkleur */
    --tweedeachtergrondkleur: #fed6d6; /* Tweede achtergrondkleur */
    --wit: #fff; /* Witte kleur */
    --grijs: #6e6d6d;
    --zwart: #000; /* Zwart als tekstkleur */
    --headingeten: #FBE59A;
    --achtergrondeten: #FEF8E1;
    --paars: #E4CCE4;
    --donkerpaars: #F8EAF8;
    --roze: #FEF2F2;
}

section:nth-of-type(2) a {
    display: grid;
    grid-template-columns: 6em 1fr;
    grid-template-rows: max-content 1fr;
    gap: 0 1em;
    padding: 1em;
}

h3  {
    background-color: var(--tweedeachtergrondkleur);
    color: var(--letterkleur);
    padding: 4px 8px ;
    font-size: 1em;
    width: fit-content;
    
    
}

section:nth-of-type(2) a img {
    width: 100%;
    height: auto;
    display: block;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

section:nth-of-type(1)  img {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    max-width: 100%; /* Zorgt ervoor dat de afbeelding responsief is */
    height: auto;
}

section:nth-of-type(2) h2 {
    background-color: var(--tweedeachtergrondkleur);
    color: var(--letterkleur);
    padding: 4px 8px ;
    font-size: 1em;
    width: fit-content;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 3em;
    margin-left: 35%;
}


p {
    text-decoration: none;
    font-size: 1rem;
    font-family: sans;
text-align: left;
}

a {
    text-decoration: none;
    color: var(--zwart);
}

button {
    border: transparent;
    background-color: var(--h2kleur);
    color: var(--letterkleur);
    font: inherit;
    cursor: pointer;
    display: block; /* Verander inline-flex naar block */
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 2em auto; /* Hierdoor centreert de button */
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 550;
    font-family: sans;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


button:hover {
    opacity: 0.8; /* Pas de mate van doorzichtigheid aan (0.5 is 50% doorzichtig) */
    transition: opacity 0.3s ease; /* Voegt een vloeiende overgang toe */
    
}

h3 { 
    margin-top: 2em;
    
}

section:first-of-type p:first-of-type {
    font-weight: bold;
}

    
section:nth-of-type(1) p,
section:nth-of-type(3) p
{
    margin-left: 1.5em;
    margin-top: 0.5em;
    line-height: 1.5em;
    margin-bottom: 1em;
   
}


section:nth-of-type(1) h2,
section:nth-of-type(3) h2 {
    /* Je stijlen hier */
    margin-left: 1.5em;
    margin-top: 1em;
    line-height: 1.5em;
 

   
}


section:nth-of-type(2) h3,
section:nth-of-type(3) h3 {
    text-transform: uppercase;
    

}



h4 {
    color: var(--grijs);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   font-size: 0.7em;
  margin-bottom: 3em;
  margin-left: 3em;
}